pandas~=2.3.0
matplotlib~=3.10.3
scikit-learn~=1.6.1
numpy~=2.2.6
torchvision~=0.21.0
tensorflow~=2.18.0
networkx~=3.5
scipy~=1.15.2
protobuf~=5.28.3
seaborn~=0.13.2
keras~=3.11.2
tqdm~=4.66.4
statsmodels~=0.14.5
xgboost~=3.0.2
opencv-python~=4.12.0.88
scikit-image~=0.25.2
pyyaml~=6.0.2
absl-py~=2.3.1
attrs~=25.3.0
six~=1.17.0
flatbuffers~=24.12.23
setuptools~=72.1.0
imageio~=2.37.0
ipython~=9.4.0
pillow~=11.3.0
packaging~=24.1
requests~=2.32.3
tensorflow-datasets~=4.9.9
lxml~=6.0.1
yfinance~=0.2.57